<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="TsConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
	        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TsConverter.Properties.Settings>
            <setting name="RootDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ConvertOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFileType" serializeAs="String">
                <value />
            </setting>
            <setting name="ExecutableName" serializeAs="String">
                <value />
            </setting>
        </TsConverter.Properties.Settings>
    </userSettings>
		<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<targets>
				<target name="logfile" xsi:type="File" fileName="TsConverter.log" />
			</targets>
			<rules>
				<logger name="*" minlevel="Error" writeTo="logfile" />
			</rules>
		</nlog>
</configuration>